.row {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width:800px) {
  .row{
      display: flex;
      flex-direction: column;
      }
}

.column {
  flex: 50%;
  background-color: #66fcf1;
}
#cloumn-1{
  background-color: #1f2833;
}
.about-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: auto;
    width: 50%;
  }
 
.button{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .button a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .button a:before,
  .button a:after{
    position: absolute;
    content: "Let's Talk";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .button a:before{
    color: #66fcf1;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .button a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .button a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  
  