body{
  background-color: #c5c6c7;
}
header{
    position: relative;
}
header .heading{
    padding-left: 30px;
    font-size: 30px;
}
header nav li {
    display: inline-block;
    justify-content: space-around;
    padding:15px;
    transition: 2s;
}
header nav li:hover{
    transform: scale(1.2);
}
contact-me{
  display: flex;
  border-width: 20px;
  margin:auto;
  justify-content: center;
  width: 50%;
}
.name{
  
}
