body{
	background-color: var(--black);
  }
	:root ,[data-theme="light"]{
		--black:#e3e2df;
		--grey:#e3afbc;
		--greenishblue:#ee4c7c;
		--blue:#9a1750;
	}
	[data-theme="dark"]{
		--black:#0b0c10;
		--grey:#c5c6c7;
		--greenishblue:#66fcf1;
		--blue:#45a29e;
	}
html {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	overflow-x: hidden;
}
  .container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color:var(--black);
}
.header {
	padding: 1rem 0;
	margin: 0 auto;
	width: 80%;
	font-size: 2rem;
	z-index: 100;
	
	/* position: relative; */
}
.header header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .brand {
	color:var(--greenishblue);
	font-weight: 300;
}
.header .nav-bar nav {
	z-index: 90;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0%;
	top: 68px;
	background-color:var(--black);
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 20px 0;
	transition: 0.5s ease-in-out transform;
	transform: translateX(100%);
}
.header .nav-bar nav.nav-toggle {
	transform: translateX(0%);
}
.header .nav-bar nav .nav-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;

	/* display: none; */
}
.header .nav-bar nav .nav-list li {
	padding: 5px 0;
}
.header .nav-bar nav .nav-list li a {
	font-size: 5rem;
	text-decoration: none;
	color:var(--greenishblue);
	text-transform: uppercase;
	letter-spacing: 1px;
}
.header .nav-bar .nav-button {
	padding: 10px;
	border-top: .5px solid var(--grey);
	/* display: none; */
}
.header .nav-bar .nav-button .button {
	display: inline-block;
	padding: 25px 80px;
	background-color: var(--blue);
	color:var(--black);
	text-decoration: none;
}

/* hamburger style */

.header .nav-bar .ham {
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	border: 1px solid var(--black);
}
.header .nav-bar .ham .bar {
	height: 2px;
	width: 20px;
	background-color:var(--grey);
	position: relative;
	transition: .5s ease all;
}
.header .nav-bar .ham .bar::before,
.header .nav-bar .ham .bar::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background-color:var(--blue);
	transition: .5s ease all;
}
.header .nav-bar .ham .bar::before {
	top: -5px;
	left: 0;
}
.header .nav-bar .ham .bar::after {
	bottom: -5px;
	left: 0;
}
.header .nav-bar .ham.close .bar::before {
	top: 0px;
	transform: rotate(45deg);
	left: 0;
}
.header .nav-bar .ham.close .bar::after {
	top: 0px;
	transform: rotate(-45deg);
	left: 0;
}
.header .nav-bar .ham.close .bar {
	background-color: transparent;
}

/* For desktop style */
@media only screen and (min-width: 800px) {
	.header .nav-bar {
		width: auto;
	}
	.header .nav-bar nav {
		position: initial;
		transform: translate(0, 0);
		height: auto;
		width: auto;
		flex-direction: row;
		background-color: transparent;
		padding: 0;
	}
	.header .nav-bar nav .nav-list {
		display: flex;
		flex-direction: row;
		padding-bottom: 0;
		/* position: absolute; */
	}
	.header .nav-bar nav .nav-list li {
		padding: 0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header .nav-bar nav .nav-list li a {
		color:var(--greenishblue);
		font-size: 1.8rem;
	}
	.header .nav-bar .ham {
		display: none;
	}
}

.contact-me{
	display: flex;
	flex-direction: column;
	margin:auto;
	font-size: 18px;
	color: var(--greenishblue);
	justify-content: center;
	align-items: center;
	width: 50%;
  }
  .button{
	position: relative;
	display: inline-flex;
	width: 180px;
	height: 55px;
	margin: 0 15px;
	perspective: 1000px;
  }
  .button a{
	font-size: 19px;
	letter-spacing: 1px;
	transform-style: preserve-3d;
	transform: translateZ(-25px);
	transition: transform .25s;
	font-family: 'Montserrat', sans-serif;
	
  }
  .button a:before,
  .button a:after{
	position: absolute;
	content: "Send";
	height: 55px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid var(--grey);
	box-sizing: border-box;
	border-radius: 5px;
  }
  .button a:before{
	color:var(--greenishblue);
	background:var(--grey);
	transform: rotateY(0deg) translateZ(25px);
  }
  .button a:after{
	color:var(--greenishblue);
	transform: rotateX(90deg) translateZ(25px);
  }
  .button a:hover{
	transform: translateZ(-25px) rotateX(-90deg);
  }
  footer{
	background-color:var(--grey);
	text-align: center;
	border-radius:8px;
	padding:20px;
	margin-top: 20px;
	color:var(--greenishblue);
  }
  footer i{
	font-size: 50px;
	width: 90px;
	transition: 3s;
	
  }
  footer i:hover{
	transform: scale(1.6);
  }