@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
    scrollbar-color: rgb(218, 218, 218) rgb(0, 0, 0);
    scrollbar-width: thin;
    
    /* background-: url(./assets/portfoliosound.mp3); */
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

.text1{
    color: #ffffff;
}

.text2{
    color: #4b4b4b;
}

.text3{
    color: #353535;
}
.text4{
    color: #9a9a9a;
}

.img{
    clip-path: circle();
}
/* 
 */


 .social-links {
	display: flex;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.social-btn span {
	width: 0px;
    /* padding: 12px; */
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-btn:hover {
	width: 170px;
	border-radius: 5px;
}

.social-btn:hover span {
	padding: 2px;
	width: max-content;
}

#twitter svg {
	fill: #1da1f2;
}

#linkedin svg {
	fill: #0e76a8;
}

#github {
	fill: #333;
}


.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-shine{
    /* position: absolute; */
    /* top: 50%;  transform: translateY(-50%); */
    
    background: linear-gradient(90deg ,#9a9a9a, transparent 40%, #fff ,transparent 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s infinite linear;
} 
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -200% 0;
    }
}

.background{
    background-color: #000000;
}
.background:hover{
    background-color: #15b4ae;
}
/*
.button:hover{
    color: white;
    background-color: black;
    border-width: 2px;
    border-color: #15b4ae;
    box-shadow: 1px 1px 2px 2px #15b4ae;
} */

/* button */
.button {
    width: 200px;
    height: 50px;
    border: 3px rgba(255, 255, 255, 0.487) solid;
    position: relative;
    color: rgba(255, 255, 255, 0.487);
}

.button:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-left: 3px rgba(255, 255, 255, 0.487) solid;
    border-top: 3px rgba(255, 255, 255, 0.487) solid;
    transition: all 0.3s ease-in;
}

.button:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-right: 3px rgba(255, 255, 255, 0.487) solid;
    border-bottom: 3px rgba(255, 255, 255, 0.487) solid;
    transition: all 0.2s ease-in;
}

.button:hover::before {
    width: 50px;
    height: 50px;
    border-left: 3px rgb(255, 255, 255) solid;
    border-top: 3px rgb(255, 255, 255) solid;
}

.button:hover::after {
    width: 50px;
    height: 50px;
    border-right: 3px rgb(255, 255, 255) solid;
    border-bottom: 3px rgb(255, 255, 255) solid;
}

.button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 25px 1px rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.neu-box{
    border-radius: 7px;
background: #292929;
box-shadow:  26px 26px 100px #1c1c1c,
             -26px -26px 100px #363636;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #151515;
    position: static;
    width: 100%;
    background: #151515;
    color: #ffffff;
    /* opacity: 0.65; */
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar li{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition:  0.3s ease-in-out;
}

.navbar li:hover{
    color: #15b4ae;
    font-weight: bolder;
    /* transform:translateX(1.2); */
    /* text-decoration: underline; */
}

@media (max-width: 768px){
    

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #151515;
        height: 100vh;
        max-width: 300px;
        /* opacity: ; */
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #151515;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

.contain{
    text-decoration: none;
    background: linear-gradient(112.87deg, rgba(111, 111, 111, 0.01) 0%, rgba(255, 255, 255, 0.1) 27.29%, rgba(124, 107, 107, 0.01) 100.01%);
border: 1px solid rgba(255, 255, 255, 0.3);
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
/* transform: matrix(0.87, 0.5, 0, 1, 0, 0); */
}
.contain:hover{
    /* border-color: red ; */
    
    border-width: 2px;
    border-radius: 5px;
}

.input[type=text]{
    /* width:100%; */
    border:3px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  .input[type=text]:focus{
    border-color:#15b4ae;
    box-shadow:0 0 20px 0 #15b4ae;
  }

/* infinity scrolling */
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(250px * 18  );
    animation: scroll 40s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}


@media only screen and (max-width: 600px) {
    .slide{
        height: 100px;
        width: 125px;
    }
    .slider{
        height: 125px;
    }
  }

/*star background */
  #stars-container {
    height: 100%;
    width: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
    overflow: hidden;
    -webkit-transform: translate(-50, -50%);
    -ms-transform: translate(-50, -50%);
    -o-transform: translate(-50, -50%);
    transform: translate(-50, -50%);
  }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 0 748px 706px #FFF , 1587px 1776px #FFF , 320px 861px #FFF , 1580px 661px #FFF , 1124px 1788px #FFF , 1812px 1532px #FFF , 662px 386px #FFF , 1665px 853px #FFF , 132px 1920px #FFF , 755px 211px #FFF , 1589px 676px #FFF , 855px 1504px #FFF , 1267px 1758px #FFF , 1506px 771px #FFF , 253px 204px #FFF , 125px 1398px #FFF , 665px 606px #FFF , 761px 1283px #FFF , 636px 164px #FFF , 1288px 1173px #FFF , 1956px 1817px #FFF , 1262px 146px #FFF , 1217px 1107px #FFF , 376px 1138px #FFF , 1471px 1053px #FFF , 835px 612px #FFF , 1530px 883px #FFF , 4px 452px #FFF , 1081px 1902px #FFF , 1561px 685px #FFF , 1034px 317px #FFF , 84px 112px #FFF , 1830px 719px #FFF , 1921px 424px #FFF , 180px 483px #FFF , 153px 365px #FFF , 1541px 420px #FFF , 567px 1804px #FFF , 538px 360px #FFF , 75px 68px #FFF , 1117px 1095px #FFF , 1802px 1860px #FFF , 1865px 1101px #FFF , 267px 1025px #FFF , 961px 262px #FFF , 1401px 1899px #FFF , 96px 248px #FFF , 1445px 1424px #FFF , 377px 1951px #FFF , 701px 1003px #FFF , 644px 298px #FFF , 623px 1450px #FFF , 1840px 43px #FFF , 1047px 1420px #FFF , 26px 629px #FFF , 1973px 800px #FFF , 1054px 995px #FFF , 139px 949px #FFF , 435px 1305px #FFF , 456px 1423px #FFF , 159px 1481px #FFF , 163px 906px #FFF , 6px 746px #FFF , 108px 913px #FFF , 1828px 632px #FFF , 1781px 949px #FFF , 1724px 486px #FFF , 73px 1532px #FFF , 172px 342px #FFF , 177px 58px #FFF , 919px 1912px #FFF , 66px 1794px #FFF , 1195px 511px #FFF , 1473px 211px #FFF , 1651px 374px #FFF , 1013px 950px #FFF , 1522px 1129px #FFF , 173px 984px #FFF , 3px 1069px #FFF , 182px 771px #FFF , 1298px 1177px #FFF , 1328px 1412px #FFF , 1825px 1494px #FFF , 1135px 1484px #FFF , 504px 191px #FFF , 1142px 755px #FFF , 337px 1845px #FFF , 181px 1269px #FFF , 111px 590px #FFF , 890px 1017px #FFF , 290px 461px #FFF , 78px 1472px #FFF , 1784px 1995px #FFF , 775px 765px #FFF , 294px 363px #FFF , 33px 907px #FFF , 1522px 1955px #FFF , 1744px 1997px #FFF , 1082px 761px #FFF , 1435px 1518px #FFF , 568px 1948px #FFF , 769px 534px #FFF , 557px 479px #FFF , 1662px 924px #FFF , 1651px 1281px #FFF , 1994px 1786px #FFF , 691px 297px #FFF , 1173px 1909px #FFF , 37px 378px #FFF , 789px 1446px #FFF , 118px 1086px #FFF , 866px 299px #FFF , 288px 530px #FFF , 947px 674px #FFF , 1991px 895px #FFF , 911px 1146px #FFF , 1524px 1354px #FFF , 98px 6px #FFF , 719px 1606px #FFF , 362px 1578px #FFF , 1461px 639px #FFF , 1779px 62px #FFF , 1915px 308px #FFF , 905px 1367px #FFF , 836px 138px #FFF , 1730px 258px #FFF , 391px 1741px #FFF , 1287px 520px #FFF , 173px 1639px #FFF , 206px 466px #FFF , 243px 26px #FFF , 1448px 265px #FFF , 205px 724px #FFF , 116px 635px #FFF , 11px 1128px #FFF , 131px 1544px #FFF , 413px 811px #FFF , 1396px 242px #FFF , 222px 718px #FFF , 330px 1122px #FFF , 11px 119px #FFF , 1731px 219px #FFF , 1828px 1256px #FFF , 238px 651px #FFF , 560px 1451px #FFF , 292px 1865px #FFF , 1888px 1633px #FFF , 1506px 816px #FFF , 1728px 177px #FFF , 1270px 585px #FFF , 426px 1996px #FFF , 1897px 1107px #FFF , 1778px 568px #FFF , 1559px 1347px #FFF , 1078px 1773px #FFF , 1166px 1723px #FFF , 785px 1750px #FFF , 273px 842px #FFF , 494px 879px #FFF , 1020px 1646px #FFF , 1762px 681px #FFF , 772px 436px #FFF , 1578px 455px #FFF , 684px 692px #FFF , 471px 177px #FFF , 27px 1929px #FFF , 1869px 1914px #FFF , 452px 710px #FFF , 555px 41px #FFF , 668px 1579px #FFF , 86px 1997px #FFF , 775px 176px #FFF , 1901px 119px #FFF , 1790px 696px #FFF , 1122px 125px #FFF , 546px 358px #FFF , 1326px 776px #FFF , 1893px 1033px #FFF , 258px 248px #FFF , 1089px 508px #FFF , 1755px 394px #FFF , 1300px 1208px #FFF , 1427px 1367px #FFF , 965px 1411px #FFF , 215px 1892px #FFF , 1219px 430px #FFF , 1303px 216px #FFF , 1457px 914px #FFF , 1603px 402px #FFF , 788px 1609px #FFF , 368px 1370px #FFF , 1375px 1743px #FFF , 295px 215px #FFF , 1656px 1847px #FFF , 1391px 1625px #FFF , 1265px 662px #FFF , 1619px 1623px #FFF , 302px 1974px #FFF , 247px 995px #FFF , 813px 881px #FFF , 605px 1469px #FFF , 261px 1820px #FFF , 38px 421px #FFF , 1200px 323px #FFF , 1442px 1686px #FFF , 660px 310px #FFF , 1173px 668px #FFF , 1856px 187px #FFF , 864px 1736px #FFF , 881px 645px #FFF , 719px 1139px #FFF , 1586px 212px #FFF , 64px 764px #FFF , 1577px 943px #FFF , 777px 1901px #FFF , 655px 168px #FFF , 44px 1667px #FFF , 268px 468px #FFF , 589px 20px #FFF , 421px 971px #FFF , 1132px 956px #FFF , 843px 1845px #FFF , 760px 357px #FFF , 1213px 1754px #FFF , 1849px 1121px #FFF , 927px 1274px #FFF , 133px 1078px #FFF , 818px 858px #FFF , 1916px 490px #FFF , 997px 1228px #FFF , 58px 939px #FFF , 976px 1397px #FFF , 169px 1180px #FFF , 582px 1194px #FFF , 768px 1655px #FFF , 1073px 1489px #FFF , 722px 662px #FFF , 592px 1191px #FFF , 442px 282px #FFF , 337px 1913px #FFF , 1697px 699px #FFF , 1224px 551px #FFF , 1995px 408px #FFF , 1735px 1433px #FFF , 222px 1101px #FFF , 1780px 760px #FFF , 979px 1498px #FFF , 960px 1953px #FFF , 1318px 1695px #FFF , 316px 1932px #FFF , 308px 648px #FFF , 222px 68px #FFF , 760px 432px #FFF , 86px 315px #FFF , 399px 722px #FFF , 795px 1845px #FFF , 909px 715px #FFF , 649px 895px #FFF , 898px 243px #FFF , 238px 501px #FFF , 1062px 1781px #FFF , 95px 1203px #FFF , 1154px 638px #FFF , 974px 278px #FFF , 353px 156px #FFF , 1981px 135px #FFF , 526px 1746px #FFF , 199px 38px #FFF , 4px 1281px #FFF , 1251px 490px #FFF , 1373px 507px #FFF , 1903px 759px #FFF , 204px 1283px #FFF , 925px 862px #FFF , 841px 67px #FFF , 1436px 740px #FFF , 1448px 336px #FFF , 1211px 733px #FFF , 1454px 1645px #FFF , 1792px 645px #FFF , 122px 6px #FFF , 109px 45px #FFF , 1331px 1132px #FFF , 568px 1475px #FFF , 1741px 648px #FFF , 837px 919px #FFF , 1939px 1045px #FFF , 1637px 1574px #FFF , 72px 671px #FFF , 240px 1258px #FFF , 133px 1615px #FFF , 1539px 249px #FFF , 78px 82px #FFF , 1896px 305px #FFF , 633px 1554px #FFF , 276px 908px #FFF , 281px 1108px #FFF , 1318px 52px #FFF , 970px 558px #FFF , 1732px 1912px #FFF , 64px 926px #FFF , 1893px 1220px #FFF , 1880px 415px #FFF , 483px 1660px #FFF , 61px 709px #FFF , 865px 442px #FFF , 1089px 1383px #FFF , 563px 903px #FFF , 1477px 787px #FFF , 567px 1235px #FFF , 1682px 32px #FFF , 1785px 1252px #FFF , 939px 611px #FFF , 502px 478px #FFF , 776px 1515px #FFF , 166px 505px #FFF , 1155px 1639px #FFF , 741px 1604px #FFF , 124px 1843px #FFF , 1724px 1840px #FFF , 1439px 1286px #FFF , 640px 323px #FFF , 1380px 996px #FFF , 1760px 1139px #FFF , 634px 677px #FFF , 531px 1531px #FFF , 512px 580px #FFF , 1116px 60px #FFF , 1442px 1429px #FFF , 1345px 1378px #FFF , 1638px 1410px #FFF , 1020px 1903px #FFF , 929px 1398px #FFF , 565px 1181px #FFF , 685px 503px #FFF , 1080px 971px #FFF , 231px 98px #FFF , 1653px 1049px #FFF , 951px 1066px #FFF , 357px 1077px #FFF , 1438px 707px #FFF , 1186px 1252px #FFF , 1108px 1928px #FFF , 145px 1514px #FFF , 1293px 716px #FFF , 578px 1420px #FFF , 752px 628px #FFF , 1309px 83px #FFF , 1058px 1214px #FFF , 1573px 100px #FFF , 1044px 788px #FFF , 1490px 240px #FFF , 1741px 156px #FFF , 54px 1057px #FFF , 1887px 32px #FFF , 672px 12px #FFF , 474px 1427px #FFF , 1639px 265px #FFF , 1028px 996px #FFF , 532px 1908px #FFF , 545px 549px #FFF , 61px 1199px #FFF , 855px 1304px #FFF , 926px 1417px #FFF , 279px 1224px #FFF , 408px 789px #FFF , 1477px 1380px #FFF , 1459px 294px #FFF , 1513px 649px #FFF , 414px 1897px #FFF , 751px 1586px #FFF , 1913px 1058px #FFF , 1583px 1804px #FFF , 872px 632px #FFF , 1477px 1583px #FFF , 284px 1936px #FFF , 1276px 735px #FFF , 1471px 1686px #FFF , 1318px 1544px #FFF , 1330px 1744px #FFF , 1804px 96px #FFF , 66px 1141px #FFF , 1882px 743px #FFF , 22px 1773px #FFF , 1240px 908px #FFF , 266px 1526px #FFF , 1591px 1763px #FFF , 1677px 753px #FFF , 377px 1736px #FFF , 292px 1178px #FFF , 1744px 723px #FFF , 852px 1679px #FFF , 1536px 1160px #FFF , 1434px 746px #FFF , 462px 143px #FFF , 292px 258px #FFF , 456px 455px #FFF , 1551px 1223px #FFF , 1334px 1072px #FFF , 307px 1770px #FFF , 835px 635px #FFF , 1519px 1544px #FFF , 730px 388px #FFF , 896px 1293px #FFF , 1113px 1394px #FFF , 585px 1462px #FFF , 1768px 248px #FFF , 1736px 1830px #FFF , 1409px 1248px #FFF , 1762px 1259px #FFF , 337px 1716px #FFF , 795px 1997px #FFF , 486px 1117px #FFF , 1703px 967px #FFF , 683px 1721px #FFF , 465px 266px #FFF , 1622px 562px #FFF , 1833px 665px #FFF , 453px 1327px #FFF , 456px 1212px #FFF , 580px 1147px #FFF , 197px 1954px #FFF , 390px 1809px #FFF , 376px 1616px #FFF , 1561px 166px #FFF , 837px 1190px #FFF , 604px 1173px #FFF , 1643px 1597px #FFF , 1444px 1437px #FFF , 1546px 530px #FFF , 813px 1509px #FFF , 1517px 374px #FFF , 1341px 1465px #FFF , 884px 1125px #FFF , 1864px 1149px #FFF , 1989px 1291px #FFF , 1233px 40px #FFF , 547px 1139px #FFF , 655px 1849px #FFF , 1601px 525px #FFF , 1820px 634px #FFF , 858px 1031px #FFF , 712px 1083px #FFF , 865px 1086px #FFF , 1011px 1404px #FFF , 250px 1210px #FFF , 1828px 393px #FFF , 372px 705px #FFF , 790px 1565px #FFF , 1717px 623px #FFF , 1059px 988px #FFF , 794px 1262px #FFF , 1189px 816px #FFF , 1177px 420px #FFF , 209px 1702px #FFF , 1805px 47px #FFF , 251px 1810px #FFF , 968px 1258px #FFF , 1594px 496px #FFF , 132px 479px #FFF , 1026px 167px #FFF , 1096px 768px #FFF , 677px 1309px #FFF , 993px 1371px #FFF , 1608px 899px #FFF , 168px 925px #FFF , 1709px 1820px #FFF , 425px 1312px #FFF , 1344px 1800px #FFF , 751px 1742px #FFF , 1112px 835px #FFF , 978px 664px #FFF , 1104px 1776px #FFF , 741px 941px #FFF , 1059px 1741px #FFF , 1846px 476px #FFF , 1804px 710px #FFF , 1022px 625px #FFF , 41px 1034px #FFF , 27px 190px #FFF , 1610px 1701px #FFF , 10px 972px #FFF , 413px 543px #FFF , 1729px 1224px #FFF , 1681px 467px #FFF , 1320px 1641px #FFF , 1585px 92px #FFF , 1608px 543px #FFF , 1064px 321px #FFF , 700px 1252px #FFF , 635px 1795px #FFF , 931px 162px #FFF , 852px 722px #FFF , 217px 1566px #FFF , 912px 256px #FFF , 1074px 1348px #FFF , 1919px 1847px #FFF , 473px 693px #FFF , 891px 1467px #FFF , 424px 268px #FFF , 1292px 1477px #FFF , 103px 699px #FFF , 1613px 968px #FFF , 494px 1253px #FFF , 735px 494px #FFF , 1767px 1414px #FFF , 270px 800px #FFF , 1382px 1296px #FFF , 979px 1409px #FFF , 1579px 845px #FFF , 1656px 443px #FFF , 1163px 1089px #FFF , 1968px 778px #FFF , 873px 943px #FFF , 1840px 1928px #FFF , 1579px 1040px #FFF , 46px 1351px #FFF , 638px 405px #FFF , 555px 553px #FFF , 927px 603px #FFF , 771px 405px #FFF , 1627px 1727px #FFF , 532px 329px #FFF , 1996px 1647px #FFF , 732px 23px #FFF , 787px 941px #FFF , 1540px 1428px #FFF , 892px 1402px #FFF , 154px 825px #FFF , 1134px 923px #FFF , 871px 1547px #FFF , 802px 505px #FFF , 1313px 1210px #FFF , 745px 174px #FFF , 1769px 1936px #FFF , 1440px 1497px #FFF , 663px 1480px #FFF , 1533px 563px #FFF , 559px 481px #FFF , 132px 932px #FFF , 197px 1702px #FFF , 1153px 448px #FFF , 189px 829px #FFF , 1436px 771px #FFF , 524px 818px #FFF , 1758px 1893px #FFF , 1103px 456px #FFF , 227px 1465px #FFF , 572px 637px #FFF , 1858px 202px #FFF , 1118px 1012px #FFF , 1186px 1321px #FFF , 1075px 1144px #FFF , 1145px 1459px #FFF , 387px 626px #FFF , 484px 1716px #FFF , 1675px 1093px #FFF , 1631px 1484px #FFF , 198px 999px #FFF , 1769px 400px #FFF , 1197px 1438px #FFF , 1725px 1696px #FFF , 1331px 807px #FFF , 385px 421px #FFF , 1236px 1924px #FFF , 813px 1431px #FFF , 1690px 1017px #FFF , 1360px 941px #FFF , 762px 347px #FFF , 841px 1179px #FFF , 418px 1893px #FFF , 769px 895px #FFF , 846px 704px #FFF , 1763px 479px #FFF , 967px 1965px #FFF , 963px 1854px #FFF , 1746px 724px #FFF , 1745px 1380px #FFF , 755px 610px #FFF , 1853px 877px #FFF , 1549px 1990px #FFF , 874px 864px #FFF , 102px 1774px #FFF , 274px 1513px #FFF , 780px 1917px #FFF , 589px 1333px #FFF , 448px 1566px #FFF , 1743px 1331px #FFF , 750px 17px #FFF , 596px 1286px #FFF , 1564px 1898px #FFF , 496px 1719px #FFF , 1175px 1354px #FFF , 340px 965px #FFF , 1166px 440px #FFF , 1972px 427px #FFF , 1514px 1070px #FFF , 1284px 1407px #FFF , 1107px 458px #FFF , 572px 1747px #FFF , 972px 424px #FFF , 296px 1464px #FFF , 322px 776px #FFF , 259px 1369px #FFF , 1213px 1706px #FFF , 301px 632px #FFF , 1589px 1332px #FFF , 243px 284px #FFF , 969px 1336px #FFF , 1391px 265px #FFF , 162px 25px #FFF , 745px 56px #FFF , 196px 106px #FFF , 950px 1898px #FFF , 1831px 1312px #FFF , 1143px 734px #FFF , 1916px 266px #FFF , 80px 1661px #FFF , 1549px 762px #FFF , 734px 449px #FFF , 1076px 564px #FFF , 270px 1948px #FFF , 739px 1471px #FFF , 1816px 147px #FFF , 605px 1729px #FFF , 87px 1615px #FFF , 1631px 1020px #FFF , 60px 191px #FFF , 1608px 1047px #FFF , 1452px 1142px #FFF , 1309px 810px #FFF , 1138px 354px #FFF , 770px 177px #FFF , 735px 1882px #FFF , 1275px 1428px #FFF , 1440px 18px #FFF , 288px 1777px #FFF , 1480px 963px #FFF , 385px 1177px #FFF , 1917px 1543px #FFF , 58px 685px #FFF , 874px 1916px #FFF , 1767px 1586px #FFF , 170px 1144px #FFF , 1783px 816px #FFF , 90px 11px #FFF , 917px 189px #FFF , 464px 1730px #FFF , 1247px 136px #FFF , 1793px 695px #FFF , 1812px 1521px #FFF , 1955px 400px #FFF , 606px 1857px #FFF , 1066px 922px #FFF , 840px 131px #FFF , 1469px 1258px #FFF , 635px 1216px #FFF , 1900px 526px #FFF , 1047px 1155px #FFF , 1197px 1440px #FFF , 1748px 1942px #FFF , 126px 1357px #FFF , 1922px 1883px #FFF , 848px 611px #FFF , 1840px 37px #FFF , 1555px 993px #FFF , 874px 1677px #FFF , 544px 936px #FFF , 1694px 23px #FFF , 124px 1163px #FFF , 972px 907px #FFF , 1419px 76px #FFF , 1233px 550px #FFF , 1298px 349px #FFF , 1707px 180px #FFF , 632px 1858px #FFF , 925px 1672px #FFF , 1858px 700px #FFF , 202px 111px #FFF , 342px 704px #FFF , 1442px 995px #FFF , 933px 1882px #FFF , 218px 1449px #FFF , 140px 1401px #FFF , 843px 1175px #FFF , 1947px 926px #FFF , 1802px 1251px #FFF , 1377px 736px #FFF , 751px 160px #FFF , 225px 475px #FFF , 978px 864px #FFF , 1617px 1200px #FFF , 1193px 394px #FFF , 180px 503px #FFF , 1050px 824px #FFF , 14px 331px #FFF , 506px 507px #FFF , 1229px 1960px #FFF , 1483px 1976px #FFF , 466px 505px #FFF;
    animation: animateStars 28.5s ease-in-out infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  #stars::after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 0 748px 706px #FFF , 1587px 1776px #FFF , 320px 861px #FFF , 1580px 661px #FFF , 1124px 1788px #FFF , 1812px 1532px #FFF , 662px 386px #FFF , 1665px 853px #FFF , 132px 1920px #FFF , 755px 211px #FFF , 1589px 676px #FFF , 855px 1504px #FFF , 1267px 1758px #FFF , 1506px 771px #FFF , 253px 204px #FFF , 125px 1398px #FFF , 665px 606px #FFF , 761px 1283px #FFF , 636px 164px #FFF , 1288px 1173px #FFF , 1956px 1817px #FFF , 1262px 146px #FFF , 1217px 1107px #FFF , 376px 1138px #FFF , 1471px 1053px #FFF , 835px 612px #FFF , 1530px 883px #FFF , 4px 452px #FFF , 1081px 1902px #FFF , 1561px 685px #FFF , 1034px 317px #FFF , 84px 112px #FFF , 1830px 719px #FFF , 1921px 424px #FFF , 180px 483px #FFF , 153px 365px #FFF , 1541px 420px #FFF , 567px 1804px #FFF , 538px 360px #FFF , 75px 68px #FFF , 1117px 1095px #FFF , 1802px 1860px #FFF , 1865px 1101px #FFF , 267px 1025px #FFF , 961px 262px #FFF , 1401px 1899px #FFF , 96px 248px #FFF , 1445px 1424px #FFF , 377px 1951px #FFF , 701px 1003px #FFF , 644px 298px #FFF , 623px 1450px #FFF , 1840px 43px #FFF , 1047px 1420px #FFF , 26px 629px #FFF , 1973px 800px #FFF , 1054px 995px #FFF , 139px 949px #FFF , 435px 1305px #FFF , 456px 1423px #FFF , 159px 1481px #FFF , 163px 906px #FFF , 6px 746px #FFF , 108px 913px #FFF , 1828px 632px #FFF , 1781px 949px #FFF , 1724px 486px #FFF , 73px 1532px #FFF , 172px 342px #FFF , 177px 58px #FFF , 919px 1912px #FFF , 66px 1794px #FFF , 1195px 511px #FFF , 1473px 211px #FFF , 1651px 374px #FFF , 1013px 950px #FFF , 1522px 1129px #FFF , 173px 984px #FFF , 3px 1069px #FFF , 182px 771px #FFF , 1298px 1177px #FFF , 1328px 1412px #FFF , 1825px 1494px #FFF , 1135px 1484px #FFF , 504px 191px #FFF , 1142px 755px #FFF , 337px 1845px #FFF , 181px 1269px #FFF , 111px 590px #FFF , 890px 1017px #FFF , 290px 461px #FFF , 78px 1472px #FFF , 1784px 1995px #FFF , 775px 765px #FFF , 294px 363px #FFF , 33px 907px #FFF , 1522px 1955px #FFF , 1744px 1997px #FFF , 1082px 761px #FFF , 1435px 1518px #FFF , 568px 1948px #FFF , 769px 534px #FFF , 557px 479px #FFF , 1662px 924px #FFF , 1651px 1281px #FFF , 1994px 1786px #FFF , 691px 297px #FFF , 1173px 1909px #FFF , 37px 378px #FFF , 789px 1446px #FFF , 118px 1086px #FFF , 866px 299px #FFF , 288px 530px #FFF , 947px 674px #FFF , 1991px 895px #FFF , 911px 1146px #FFF , 1524px 1354px #FFF , 98px 6px #FFF , 719px 1606px #FFF , 362px 1578px #FFF , 1461px 639px #FFF , 1779px 62px #FFF , 1915px 308px #FFF , 905px 1367px #FFF , 836px 138px #FFF , 1730px 258px #FFF , 391px 1741px #FFF , 1287px 520px #FFF , 173px 1639px #FFF , 206px 466px #FFF , 243px 26px #FFF , 1448px 265px #FFF , 205px 724px #FFF , 116px 635px #FFF , 11px 1128px #FFF , 131px 1544px #FFF , 413px 811px #FFF , 1396px 242px #FFF , 222px 718px #FFF , 330px 1122px #FFF , 11px 119px #FFF , 1731px 219px #FFF , 1828px 1256px #FFF , 238px 651px #FFF , 560px 1451px #FFF , 292px 1865px #FFF , 1888px 1633px #FFF , 1506px 816px #FFF , 1728px 177px #FFF , 1270px 585px #FFF , 426px 1996px #FFF , 1897px 1107px #FFF , 1778px 568px #FFF , 1559px 1347px #FFF , 1078px 1773px #FFF , 1166px 1723px #FFF , 785px 1750px #FFF , 273px 842px #FFF , 494px 879px #FFF , 1020px 1646px #FFF , 1762px 681px #FFF , 772px 436px #FFF , 1578px 455px #FFF , 684px 692px #FFF , 471px 177px #FFF , 27px 1929px #FFF , 1869px 1914px #FFF , 452px 710px #FFF , 555px 41px #FFF , 668px 1579px #FFF , 86px 1997px #FFF , 775px 176px #FFF , 1901px 119px #FFF , 1790px 696px #FFF , 1122px 125px #FFF , 546px 358px #FFF , 1326px 776px #FFF , 1893px 1033px #FFF , 258px 248px #FFF , 1089px 508px #FFF , 1755px 394px #FFF , 1300px 1208px #FFF , 1427px 1367px #FFF , 965px 1411px #FFF , 215px 1892px #FFF , 1219px 430px #FFF , 1303px 216px #FFF , 1457px 914px #FFF , 1603px 402px #FFF , 788px 1609px #FFF , 368px 1370px #FFF , 1375px 1743px #FFF , 295px 215px #FFF , 1656px 1847px #FFF , 1391px 1625px #FFF , 1265px 662px #FFF , 1619px 1623px #FFF , 302px 1974px #FFF , 247px 995px #FFF , 813px 881px #FFF , 605px 1469px #FFF , 261px 1820px #FFF , 38px 421px #FFF , 1200px 323px #FFF , 1442px 1686px #FFF , 660px 310px #FFF , 1173px 668px #FFF , 1856px 187px #FFF , 864px 1736px #FFF , 881px 645px #FFF , 719px 1139px #FFF , 1586px 212px #FFF , 64px 764px #FFF , 1577px 943px #FFF , 777px 1901px #FFF , 655px 168px #FFF , 44px 1667px #FFF , 268px 468px #FFF , 589px 20px #FFF , 421px 971px #FFF , 1132px 956px #FFF , 843px 1845px #FFF , 760px 357px #FFF , 1213px 1754px #FFF , 1849px 1121px #FFF , 927px 1274px #FFF , 133px 1078px #FFF , 818px 858px #FFF , 1916px 490px #FFF , 997px 1228px #FFF , 58px 939px #FFF , 976px 1397px #FFF , 169px 1180px #FFF , 582px 1194px #FFF , 768px 1655px #FFF , 1073px 1489px #FFF , 722px 662px #FFF , 592px 1191px #FFF , 442px 282px #FFF , 337px 1913px #FFF , 1697px 699px #FFF , 1224px 551px #FFF , 1995px 408px #FFF , 1735px 1433px #FFF , 222px 1101px #FFF , 1780px 760px #FFF , 979px 1498px #FFF , 960px 1953px #FFF , 1318px 1695px #FFF , 316px 1932px #FFF , 308px 648px #FFF , 222px 68px #FFF , 760px 432px #FFF , 86px 315px #FFF , 399px 722px #FFF , 795px 1845px #FFF , 909px 715px #FFF , 649px 895px #FFF , 898px 243px #FFF , 238px 501px #FFF , 1062px 1781px #FFF , 95px 1203px #FFF , 1154px 638px #FFF , 974px 278px #FFF , 353px 156px #FFF , 1981px 135px #FFF , 526px 1746px #FFF , 199px 38px #FFF , 4px 1281px #FFF , 1251px 490px #FFF , 1373px 507px #FFF , 1903px 759px #FFF , 204px 1283px #FFF , 925px 862px #FFF , 841px 67px #FFF , 1436px 740px #FFF , 1448px 336px #FFF , 1211px 733px #FFF , 1454px 1645px #FFF , 1792px 645px #FFF , 122px 6px #FFF , 109px 45px #FFF , 1331px 1132px #FFF , 568px 1475px #FFF , 1741px 648px #FFF , 837px 919px #FFF , 1939px 1045px #FFF , 1637px 1574px #FFF , 72px 671px #FFF , 240px 1258px #FFF , 133px 1615px #FFF , 1539px 249px #FFF , 78px 82px #FFF , 1896px 305px #FFF , 633px 1554px #FFF , 276px 908px #FFF , 281px 1108px #FFF , 1318px 52px #FFF , 970px 558px #FFF , 1732px 1912px #FFF , 64px 926px #FFF , 1893px 1220px #FFF , 1880px 415px #FFF , 483px 1660px #FFF , 61px 709px #FFF , 865px 442px #FFF , 1089px 1383px #FFF , 563px 903px #FFF , 1477px 787px #FFF , 567px 1235px #FFF , 1682px 32px #FFF , 1785px 1252px #FFF , 939px 611px #FFF , 502px 478px #FFF , 776px 1515px #FFF , 166px 505px #FFF , 1155px 1639px #FFF , 741px 1604px #FFF , 124px 1843px #FFF , 1724px 1840px #FFF , 1439px 1286px #FFF , 640px 323px #FFF , 1380px 996px #FFF , 1760px 1139px #FFF , 634px 677px #FFF , 531px 1531px #FFF , 512px 580px #FFF , 1116px 60px #FFF , 1442px 1429px #FFF , 1345px 1378px #FFF , 1638px 1410px #FFF , 1020px 1903px #FFF , 929px 1398px #FFF , 565px 1181px #FFF , 685px 503px #FFF , 1080px 971px #FFF , 231px 98px #FFF , 1653px 1049px #FFF , 951px 1066px #FFF , 357px 1077px #FFF , 1438px 707px #FFF , 1186px 1252px #FFF , 1108px 1928px #FFF , 145px 1514px #FFF , 1293px 716px #FFF , 578px 1420px #FFF , 752px 628px #FFF , 1309px 83px #FFF , 1058px 1214px #FFF , 1573px 100px #FFF , 1044px 788px #FFF , 1490px 240px #FFF , 1741px 156px #FFF , 54px 1057px #FFF , 1887px 32px #FFF , 672px 12px #FFF , 474px 1427px #FFF , 1639px 265px #FFF , 1028px 996px #FFF , 532px 1908px #FFF , 545px 549px #FFF , 61px 1199px #FFF , 855px 1304px #FFF , 926px 1417px #FFF , 279px 1224px #FFF , 408px 789px #FFF , 1477px 1380px #FFF , 1459px 294px #FFF , 1513px 649px #FFF , 414px 1897px #FFF , 751px 1586px #FFF , 1913px 1058px #FFF , 1583px 1804px #FFF , 872px 632px #FFF , 1477px 1583px #FFF , 284px 1936px #FFF , 1276px 735px #FFF , 1471px 1686px #FFF , 1318px 1544px #FFF , 1330px 1744px #FFF , 1804px 96px #FFF , 66px 1141px #FFF , 1882px 743px #FFF , 22px 1773px #FFF , 1240px 908px #FFF , 266px 1526px #FFF , 1591px 1763px #FFF , 1677px 753px #FFF , 377px 1736px #FFF , 292px 1178px #FFF , 1744px 723px #FFF , 852px 1679px #FFF , 1536px 1160px #FFF , 1434px 746px #FFF , 462px 143px #FFF , 292px 258px #FFF , 456px 455px #FFF , 1551px 1223px #FFF , 1334px 1072px #FFF , 307px 1770px #FFF , 835px 635px #FFF , 1519px 1544px #FFF , 730px 388px #FFF , 896px 1293px #FFF , 1113px 1394px #FFF , 585px 1462px #FFF , 1768px 248px #FFF , 1736px 1830px #FFF , 1409px 1248px #FFF , 1762px 1259px #FFF , 337px 1716px #FFF , 795px 1997px #FFF , 486px 1117px #FFF , 1703px 967px #FFF , 683px 1721px #FFF , 465px 266px #FFF , 1622px 562px #FFF , 1833px 665px #FFF , 453px 1327px #FFF , 456px 1212px #FFF , 580px 1147px #FFF , 197px 1954px #FFF , 390px 1809px #FFF , 376px 1616px #FFF , 1561px 166px #FFF , 837px 1190px #FFF , 604px 1173px #FFF , 1643px 1597px #FFF , 1444px 1437px #FFF , 1546px 530px #FFF , 813px 1509px #FFF , 1517px 374px #FFF , 1341px 1465px #FFF , 884px 1125px #FFF , 1864px 1149px #FFF , 1989px 1291px #FFF , 1233px 40px #FFF , 547px 1139px #FFF , 655px 1849px #FFF , 1601px 525px #FFF , 1820px 634px #FFF , 858px 1031px #FFF , 712px 1083px #FFF , 865px 1086px #FFF , 1011px 1404px #FFF , 250px 1210px #FFF , 1828px 393px #FFF , 372px 705px #FFF , 790px 1565px #FFF , 1717px 623px #FFF , 1059px 988px #FFF , 794px 1262px #FFF , 1189px 816px #FFF , 1177px 420px #FFF , 209px 1702px #FFF , 1805px 47px #FFF , 251px 1810px #FFF , 968px 1258px #FFF , 1594px 496px #FFF , 132px 479px #FFF , 1026px 167px #FFF , 1096px 768px #FFF , 677px 1309px #FFF , 993px 1371px #FFF , 1608px 899px #FFF , 168px 925px #FFF , 1709px 1820px #FFF , 425px 1312px #FFF , 1344px 1800px #FFF , 751px 1742px #FFF , 1112px 835px #FFF , 978px 664px #FFF , 1104px 1776px #FFF , 741px 941px #FFF , 1059px 1741px #FFF , 1846px 476px #FFF , 1804px 710px #FFF , 1022px 625px #FFF , 41px 1034px #FFF , 27px 190px #FFF , 1610px 1701px #FFF , 10px 972px #FFF , 413px 543px #FFF , 1729px 1224px #FFF , 1681px 467px #FFF , 1320px 1641px #FFF , 1585px 92px #FFF , 1608px 543px #FFF , 1064px 321px #FFF , 700px 1252px #FFF , 635px 1795px #FFF , 931px 162px #FFF , 852px 722px #FFF , 217px 1566px #FFF , 912px 256px #FFF , 1074px 1348px #FFF , 1919px 1847px #FFF , 473px 693px #FFF , 891px 1467px #FFF , 424px 268px #FFF , 1292px 1477px #FFF , 103px 699px #FFF , 1613px 968px #FFF , 494px 1253px #FFF , 735px 494px #FFF , 1767px 1414px #FFF , 270px 800px #FFF , 1382px 1296px #FFF , 979px 1409px #FFF , 1579px 845px #FFF , 1656px 443px #FFF , 1163px 1089px #FFF , 1968px 778px #FFF , 873px 943px #FFF , 1840px 1928px #FFF , 1579px 1040px #FFF , 46px 1351px #FFF , 638px 405px #FFF , 555px 553px #FFF , 927px 603px #FFF , 771px 405px #FFF , 1627px 1727px #FFF , 532px 329px #FFF , 1996px 1647px #FFF , 732px 23px #FFF , 787px 941px #FFF , 1540px 1428px #FFF , 892px 1402px #FFF , 154px 825px #FFF , 1134px 923px #FFF , 871px 1547px #FFF , 802px 505px #FFF , 1313px 1210px #FFF , 745px 174px #FFF , 1769px 1936px #FFF , 1440px 1497px #FFF , 663px 1480px #FFF , 1533px 563px #FFF , 559px 481px #FFF , 132px 932px #FFF , 197px 1702px #FFF , 1153px 448px #FFF , 189px 829px #FFF , 1436px 771px #FFF , 524px 818px #FFF , 1758px 1893px #FFF , 1103px 456px #FFF , 227px 1465px #FFF , 572px 637px #FFF , 1858px 202px #FFF , 1118px 1012px #FFF , 1186px 1321px #FFF , 1075px 1144px #FFF , 1145px 1459px #FFF , 387px 626px #FFF , 484px 1716px #FFF , 1675px 1093px #FFF , 1631px 1484px #FFF , 198px 999px #FFF , 1769px 400px #FFF , 1197px 1438px #FFF , 1725px 1696px #FFF , 1331px 807px #FFF , 385px 421px #FFF , 1236px 1924px #FFF , 813px 1431px #FFF , 1690px 1017px #FFF , 1360px 941px #FFF , 762px 347px #FFF , 841px 1179px #FFF , 418px 1893px #FFF , 769px 895px #FFF , 846px 704px #FFF , 1763px 479px #FFF , 967px 1965px #FFF , 963px 1854px #FFF , 1746px 724px #FFF , 1745px 1380px #FFF , 755px 610px #FFF , 1853px 877px #FFF , 1549px 1990px #FFF , 874px 864px #FFF , 102px 1774px #FFF , 274px 1513px #FFF , 780px 1917px #FFF , 589px 1333px #FFF , 448px 1566px #FFF , 1743px 1331px #FFF , 750px 17px #FFF , 596px 1286px #FFF , 1564px 1898px #FFF , 496px 1719px #FFF , 1175px 1354px #FFF , 340px 965px #FFF , 1166px 440px #FFF , 1972px 427px #FFF , 1514px 1070px #FFF , 1284px 1407px #FFF , 1107px 458px #FFF , 572px 1747px #FFF , 972px 424px #FFF , 296px 1464px #FFF , 322px 776px #FFF , 259px 1369px #FFF , 1213px 1706px #FFF , 301px 632px #FFF , 1589px 1332px #FFF , 243px 284px #FFF , 969px 1336px #FFF , 1391px 265px #FFF , 162px 25px #FFF , 745px 56px #FFF , 196px 106px #FFF , 950px 1898px #FFF , 1831px 1312px #FFF , 1143px 734px #FFF , 1916px 266px #FFF , 80px 1661px #FFF , 1549px 762px #FFF , 734px 449px #FFF , 1076px 564px #FFF , 270px 1948px #FFF , 739px 1471px #FFF , 1816px 147px #FFF , 605px 1729px #FFF , 87px 1615px #FFF , 1631px 1020px #FFF , 60px 191px #FFF , 1608px 1047px #FFF , 1452px 1142px #FFF , 1309px 810px #FFF , 1138px 354px #FFF , 770px 177px #FFF , 735px 1882px #FFF , 1275px 1428px #FFF , 1440px 18px #FFF , 288px 1777px #FFF , 1480px 963px #FFF , 385px 1177px #FFF , 1917px 1543px #FFF , 58px 685px #FFF , 874px 1916px #FFF , 1767px 1586px #FFF , 170px 1144px #FFF , 1783px 816px #FFF , 90px 11px #FFF , 917px 189px #FFF , 464px 1730px #FFF , 1247px 136px #FFF , 1793px 695px #FFF , 1812px 1521px #FFF , 1955px 400px #FFF , 606px 1857px #FFF , 1066px 922px #FFF , 840px 131px #FFF , 1469px 1258px #FFF , 635px 1216px #FFF , 1900px 526px #FFF , 1047px 1155px #FFF , 1197px 1440px #FFF , 1748px 1942px #FFF , 126px 1357px #FFF , 1922px 1883px #FFF , 848px 611px #FFF , 1840px 37px #FFF , 1555px 993px #FFF , 874px 1677px #FFF , 544px 936px #FFF , 1694px 23px #FFF , 124px 1163px #FFF , 972px 907px #FFF , 1419px 76px #FFF , 1233px 550px #FFF , 1298px 349px #FFF , 1707px 180px #FFF , 632px 1858px #FFF , 925px 1672px #FFF , 1858px 700px #FFF , 202px 111px #FFF , 342px 704px #FFF , 1442px 995px #FFF , 933px 1882px #FFF , 218px 1449px #FFF , 140px 1401px #FFF , 843px 1175px #FFF , 1947px 926px #FFF , 1802px 1251px #FFF , 1377px 736px #FFF , 751px 160px #FFF , 225px 475px #FFF , 978px 864px #FFF , 1617px 1200px #FFF , 1193px 394px #FFF , 180px 503px #FFF , 1050px 824px #FFF , 14px 331px #FFF , 506px 507px #FFF , 1229px 1960px #FFF , 1483px 1976px #FFF , 466px 505px #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 0 815px 1253px #FFF , 725px 1528px #FFF , 1637px 1211px #FFF , 1884px 1690px #FFF , 1003px 652px #FFF , 1282px 625px #FFF , 1666px 449px #FFF , 692px 1476px #FFF , 1855px 132px #FFF , 1548px 894px #FFF , 1372px 1856px #FFF , 1087px 932px #FFF , 539px 1302px #FFF , 1014px 318px #FFF , 739px 1873px #FFF , 1195px 1473px #FFF , 1292px 1484px #FFF , 1971px 1395px #FFF , 826px 1539px #FFF , 161px 824px #FFF , 468px 106px #FFF , 1925px 408px #FFF , 532px 789px #FFF , 1941px 42px #FFF , 1532px 337px #FFF , 1749px 1395px #FFF , 392px 26px #FFF , 13px 426px #FFF , 1152px 841px #FFF , 1817px 31px #FFF , 1424px 58px #FFF , 1513px 1607px #FFF , 1605px 1871px #FFF , 1436px 679px #FFF , 597px 863px #FFF , 1902px 1820px #FFF , 1686px 82px #FFF , 1546px 1628px #FFF , 364px 41px #FFF , 1937px 267px #FFF , 1598px 300px #FFF , 1431px 2px #FFF , 1149px 1086px #FFF , 1721px 1267px #FFF , 1500px 8px #FFF , 647px 1095px #FFF , 430px 1564px #FFF , 1594px 1358px #FFF , 1427px 692px #FFF , 1337px 1418px #FFF , 1130px 1306px #FFF , 1160px 95px #FFF , 770px 635px #FFF , 83px 1043px #FFF , 95px 686px #FFF , 1530px 1694px #FFF , 982px 1757px #FFF , 513px 1025px #FFF , 1476px 1205px #FFF , 328px 1814px #FFF , 33px 197px #FFF , 1267px 1114px #FFF , 1064px 1780px #FFF , 838px 201px #FFF , 1547px 1455px #FFF , 1940px 1409px #FFF , 364px 1126px #FFF , 1926px 1412px #FFF , 1027px 926px #FFF , 102px 1153px #FFF , 974px 782px #FFF , 1775px 1241px #FFF , 1131px 91px #FFF , 661px 1392px #FFF , 352px 363px #FFF , 930px 1156px #FFF , 378px 1006px #FFF , 778px 321px #FFF , 159px 1392px #FFF , 898px 158px #FFF , 1552px 1905px #FFF , 1642px 926px #FFF , 1027px 70px #FFF , 1744px 1606px #FFF , 1279px 132px #FFF , 1868px 1789px #FFF , 1964px 1252px #FFF , 1099px 119px #FFF , 1471px 1870px #FFF , 1399px 1602px #FFF , 625px 314px #FFF , 1250px 1764px #FFF , 231px 343px #FFF , 1788px 1526px #FFF , 614px 993px #FFF , 664px 1613px #FFF , 112px 1170px #FFF , 1179px 229px #FFF , 1025px 231px #FFF , 1644px 587px #FFF , 1090px 1492px #FFF , 1905px 593px #FFF , 269px 964px #FFF , 800px 482px #FFF , 1173px 320px #FFF , 1580px 1965px #FFF , 255px 1082px #FFF , 1083px 458px #FFF , 1225px 773px #FFF , 1666px 1397px #FFF , 1340px 1995px #FFF , 921px 1286px #FFF , 1560px 276px #FFF , 1412px 1007px #FFF , 1946px 735px #FFF , 1171px 46px #FFF , 961px 1321px #FFF , 148px 745px #FFF , 18px 1841px #FFF , 1358px 1207px #FFF , 1669px 673px #FFF , 322px 1538px #FFF , 415px 1643px #FFF , 1500px 1198px #FFF , 1090px 1740px #FFF , 665px 630px #FFF , 434px 1833px #FFF , 1010px 524px #FFF , 623px 1897px #FFF , 1404px 710px #FFF , 664px 626px #FFF , 1575px 269px #FFF , 1113px 1777px #FFF , 1590px 1457px #FFF , 224px 462px #FFF , 1375px 1639px #FFF , 1767px 502px #FFF , 1440px 261px #FFF , 1896px 649px #FFF , 1785px 1057px #FFF , 1954px 805px #FFF , 1895px 266px #FFF , 1138px 374px #FFF , 809px 64px #FFF , 870px 1189px #FFF , 1819px 30px #FFF , 1266px 1016px #FFF , 170px 1877px #FFF , 1391px 1640px #FFF , 1347px 819px #FFF , 924px 774px #FFF , 1441px 1417px #FFF , 671px 1730px #FFF , 1954px 1221px #FFF , 675px 521px #FFF , 254px 1704px #FFF , 1582px 1305px #FFF , 1219px 547px #FFF , 427px 1279px #FFF , 938px 1743px #FFF , 1083px 511px #FFF , 601px 10px #FFF , 328px 1791px #FFF , 4px 1548px #FFF , 1004px 890px #FFF , 1476px 265px #FFF , 1130px 580px #FFF , 1092px 1623px #FFF , 364px 1582px #FFF , 746px 1827px #FFF , 83px 1905px #FFF , 439px 14px #FFF , 1905px 1252px #FFF , 227px 1626px #FFF , 1468px 1977px #FFF , 1625px 1503px #FFF , 1346px 1908px #FFF , 1083px 1587px #FFF , 1280px 811px #FFF , 551px 1280px #FFF , 700px 1730px #FFF , 1857px 192px #FFF , 1235px 766px #FFF , 690px 1726px #FFF , 1674px 1863px #FFF , 1859px 117px #FFF , 1470px 1186px #FFF , 866px 1370px #FFF , 591px 1643px #FFF , 794px 378px #FFF , 820px 1267px #FFF , 765px 1947px #FFF , 399px 317px #FFF , 1027px 1561px #FFF , 589px 204px #FFF , 1950px 1514px #FFF , 689px 928px #FFF , 10px 608px #FFF , 304px 1899px #FFF , 17px 1557px #FFF;
    animation: animateStars 30s ease-in-out infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  #stars2::after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 0 815px 1253px #FFF , 725px 1528px #FFF , 1637px 1211px #FFF , 1884px 1690px #FFF , 1003px 652px #FFF , 1282px 625px #FFF , 1666px 449px #FFF , 692px 1476px #FFF , 1855px 132px #FFF , 1548px 894px #FFF , 1372px 1856px #FFF , 1087px 932px #FFF , 539px 1302px #FFF , 1014px 318px #FFF , 739px 1873px #FFF , 1195px 1473px #FFF , 1292px 1484px #FFF , 1971px 1395px #FFF , 826px 1539px #FFF , 161px 824px #FFF , 468px 106px #FFF , 1925px 408px #FFF , 532px 789px #FFF , 1941px 42px #FFF , 1532px 337px #FFF , 1749px 1395px #FFF , 392px 26px #FFF , 13px 426px #FFF , 1152px 841px #FFF , 1817px 31px #FFF , 1424px 58px #FFF , 1513px 1607px #FFF , 1605px 1871px #FFF , 1436px 679px #FFF , 597px 863px #FFF , 1902px 1820px #FFF , 1686px 82px #FFF , 1546px 1628px #FFF , 364px 41px #FFF , 1937px 267px #FFF , 1598px 300px #FFF , 1431px 2px #FFF , 1149px 1086px #FFF , 1721px 1267px #FFF , 1500px 8px #FFF , 647px 1095px #FFF , 430px 1564px #FFF , 1594px 1358px #FFF , 1427px 692px #FFF , 1337px 1418px #FFF , 1130px 1306px #FFF , 1160px 95px #FFF , 770px 635px #FFF , 83px 1043px #FFF , 95px 686px #FFF , 1530px 1694px #FFF , 982px 1757px #FFF , 513px 1025px #FFF , 1476px 1205px #FFF , 328px 1814px #FFF , 33px 197px #FFF , 1267px 1114px #FFF , 1064px 1780px #FFF , 838px 201px #FFF , 1547px 1455px #FFF , 1940px 1409px #FFF , 364px 1126px #FFF , 1926px 1412px #FFF , 1027px 926px #FFF , 102px 1153px #FFF , 974px 782px #FFF , 1775px 1241px #FFF , 1131px 91px #FFF , 661px 1392px #FFF , 352px 363px #FFF , 930px 1156px #FFF , 378px 1006px #FFF , 778px 321px #FFF , 159px 1392px #FFF , 898px 158px #FFF , 1552px 1905px #FFF , 1642px 926px #FFF , 1027px 70px #FFF , 1744px 1606px #FFF , 1279px 132px #FFF , 1868px 1789px #FFF , 1964px 1252px #FFF , 1099px 119px #FFF , 1471px 1870px #FFF , 1399px 1602px #FFF , 625px 314px #FFF , 1250px 1764px #FFF , 231px 343px #FFF , 1788px 1526px #FFF , 614px 993px #FFF , 664px 1613px #FFF , 112px 1170px #FFF , 1179px 229px #FFF , 1025px 231px #FFF , 1644px 587px #FFF , 1090px 1492px #FFF , 1905px 593px #FFF , 269px 964px #FFF , 800px 482px #FFF , 1173px 320px #FFF , 1580px 1965px #FFF , 255px 1082px #FFF , 1083px 458px #FFF , 1225px 773px #FFF , 1666px 1397px #FFF , 1340px 1995px #FFF , 921px 1286px #FFF , 1560px 276px #FFF , 1412px 1007px #FFF , 1946px 735px #FFF , 1171px 46px #FFF , 961px 1321px #FFF , 148px 745px #FFF , 18px 1841px #FFF , 1358px 1207px #FFF , 1669px 673px #FFF , 322px 1538px #FFF , 415px 1643px #FFF , 1500px 1198px #FFF , 1090px 1740px #FFF , 665px 630px #FFF , 434px 1833px #FFF , 1010px 524px #FFF , 623px 1897px #FFF , 1404px 710px #FFF , 664px 626px #FFF , 1575px 269px #FFF , 1113px 1777px #FFF , 1590px 1457px #FFF , 224px 462px #FFF , 1375px 1639px #FFF , 1767px 502px #FFF , 1440px 261px #FFF , 1896px 649px #FFF , 1785px 1057px #FFF , 1954px 805px #FFF , 1895px 266px #FFF , 1138px 374px #FFF , 809px 64px #FFF , 870px 1189px #FFF , 1819px 30px #FFF , 1266px 1016px #FFF , 170px 1877px #FFF , 1391px 1640px #FFF , 1347px 819px #FFF , 924px 774px #FFF , 1441px 1417px #FFF , 671px 1730px #FFF , 1954px 1221px #FFF , 675px 521px #FFF , 254px 1704px #FFF , 1582px 1305px #FFF , 1219px 547px #FFF , 427px 1279px #FFF , 938px 1743px #FFF , 1083px 511px #FFF , 601px 10px #FFF , 328px 1791px #FFF , 4px 1548px #FFF , 1004px 890px #FFF , 1476px 265px #FFF , 1130px 580px #FFF , 1092px 1623px #FFF , 364px 1582px #FFF , 746px 1827px #FFF , 83px 1905px #FFF , 439px 14px #FFF , 1905px 1252px #FFF , 227px 1626px #FFF , 1468px 1977px #FFF , 1625px 1503px #FFF , 1346px 1908px #FFF , 1083px 1587px #FFF , 1280px 811px #FFF , 551px 1280px #FFF , 700px 1730px #FFF , 1857px 192px #FFF , 1235px 766px #FFF , 690px 1726px #FFF , 1674px 1863px #FFF , 1859px 117px #FFF , 1470px 1186px #FFF , 866px 1370px #FFF , 591px 1643px #FFF , 794px 378px #FFF , 820px 1267px #FFF , 765px 1947px #FFF , 399px 317px #FFF , 1027px 1561px #FFF , 589px 204px #FFF , 1950px 1514px #FFF , 689px 928px #FFF , 10px 608px #FFF , 304px 1899px #FFF , 17px 1557px #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 0 1445px 1123px #FFF , 1829px 1167px #FFF , 1714px 198px #FFF , 1121px 1580px #FFF , 1175px 1271px #FFF , 1359px 1603px #FFF , 351px 922px #FFF , 829px 1993px #FFF , 125px 114px #FFF , 909px 612px #FFF , 1360px 1042px #FFF , 1920px 874px #FFF , 1701px 458px #FFF , 1828px 36px #FFF , 959px 310px #FFF , 791px 336px #FFF , 1216px 553px #FFF , 282px 1889px #FFF , 266px 1535px #FFF , 1158px 1985px #FFF , 287px 1743px #FFF , 1324px 623px #FFF , 925px 1953px #FFF , 1784px 1688px #FFF , 552px 59px #FFF , 1351px 1348px #FFF , 1347px 1985px #FFF , 604px 787px #FFF , 26px 1706px #FFF , 632px 1144px #FFF , 479px 954px #FFF , 468px 1907px #FFF , 1402px 613px #FFF , 458px 1422px #FFF , 84px 288px #FFF , 786px 450px #FFF , 590px 477px #FFF , 418px 1045px #FFF , 1413px 1752px #FFF , 597px 658px #FFF , 1198px 1403px #FFF , 96px 1004px #FFF , 787px 672px #FFF , 1281px 1846px #FFF , 1369px 1944px #FFF , 201px 274px #FFF , 982px 1511px #FFF , 993px 636px #FFF , 554px 1719px #FFF , 1262px 675px #FFF , 333px 251px #FFF , 691px 667px #FFF , 1856px 29px #FFF , 517px 887px #FFF , 170px 370px #FFF , 1879px 468px #FFF , 257px 1390px #FFF , 206px 1766px #FFF , 851px 1515px #FFF , 1257px 1263px #FFF , 1000px 175px #FFF , 1133px 306px #FFF , 109px 597px #FFF , 1806px 319px #FFF , 353px 1187px #FFF , 1668px 325px #FFF , 1362px 1906px #FFF , 629px 1624px #FFF , 605px 351px #FFF , 1822px 1358px #FFF , 1867px 1627px #FFF , 847px 1939px #FFF , 113px 793px #FFF , 1062px 304px #FFF , 1317px 1998px #FFF , 516px 601px #FFF , 1135px 601px #FFF , 1199px 87px #FFF , 383px 526px #FFF , 1975px 443px #FFF , 1201px 1148px #FFF , 1518px 1627px #FFF , 298px 1857px #FFF , 187px 622px #FFF , 576px 971px #FFF , 1502px 970px #FFF , 933px 1969px #FFF , 1165px 236px #FFF , 1039px 1070px #FFF , 484px 1354px #FFF , 570px 77px #FFF , 1867px 1758px #FFF , 1831px 357px #FFF , 1345px 1140px #FFF , 776px 465px #FFF , 385px 1560px #FFF , 416px 544px #FFF , 527px 1763px #FFF , 1271px 471px #FFF , 1380px 1333px #FFF;
    animation: animateStars 31.5s ease-in-out infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 0 1445px 1123px #FFF , 1829px 1167px #FFF , 1714px 198px #FFF , 1121px 1580px #FFF , 1175px 1271px #FFF , 1359px 1603px #FFF , 351px 922px #FFF , 829px 1993px #FFF , 125px 114px #FFF , 909px 612px #FFF , 1360px 1042px #FFF , 1920px 874px #FFF , 1701px 458px #FFF , 1828px 36px #FFF , 959px 310px #FFF , 791px 336px #FFF , 1216px 553px #FFF , 282px 1889px #FFF , 266px 1535px #FFF , 1158px 1985px #FFF , 287px 1743px #FFF , 1324px 623px #FFF , 925px 1953px #FFF , 1784px 1688px #FFF , 552px 59px #FFF , 1351px 1348px #FFF , 1347px 1985px #FFF , 604px 787px #FFF , 26px 1706px #FFF , 632px 1144px #FFF , 479px 954px #FFF , 468px 1907px #FFF , 1402px 613px #FFF , 458px 1422px #FFF , 84px 288px #FFF , 786px 450px #FFF , 590px 477px #FFF , 418px 1045px #FFF , 1413px 1752px #FFF , 597px 658px #FFF , 1198px 1403px #FFF , 96px 1004px #FFF , 787px 672px #FFF , 1281px 1846px #FFF , 1369px 1944px #FFF , 201px 274px #FFF , 982px 1511px #FFF , 993px 636px #FFF , 554px 1719px #FFF , 1262px 675px #FFF , 333px 251px #FFF , 691px 667px #FFF , 1856px 29px #FFF , 517px 887px #FFF , 170px 370px #FFF , 1879px 468px #FFF , 257px 1390px #FFF , 206px 1766px #FFF , 851px 1515px #FFF , 1257px 1263px #FFF , 1000px 175px #FFF , 1133px 306px #FFF , 109px 597px #FFF , 1806px 319px #FFF , 353px 1187px #FFF , 1668px 325px #FFF , 1362px 1906px #FFF , 629px 1624px #FFF , 605px 351px #FFF , 1822px 1358px #FFF , 1867px 1627px #FFF , 847px 1939px #FFF , 113px 793px #FFF , 1062px 304px #FFF , 1317px 1998px #FFF , 516px 601px #FFF , 1135px 601px #FFF , 1199px 87px #FFF , 383px 526px #FFF , 1975px 443px #FFF , 1201px 1148px #FFF , 1518px 1627px #FFF , 298px 1857px #FFF , 187px 622px #FFF , 576px 971px #FFF , 1502px 970px #FFF , 933px 1969px #FFF , 1165px 236px #FFF , 1039px 1070px #FFF , 484px 1354px #FFF , 570px 77px #FFF , 1867px 1758px #FFF , 1831px 357px #FFF , 1345px 1140px #FFF , 776px 465px #FFF , 385px 1560px #FFF , 416px 544px #FFF , 527px 1763px #FFF , 1271px 471px #FFF , 1380px 1333px #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  @keyframes animateStars {
    0% {
      -webkit-transform: rotate3d(-5, 1, 0, 0deg);
      -ms-transform: rotate3d(-5, 1, 0, 0deg);
      -o-transform: rotate3d(-5, 1, 0, 0deg);
      transform: rotate3d(-5, 1, 0, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(-1, 1, 0, 30deg);
      -ms-transform: rotate3d(-1, 1, 0, 30deg);
      -o-transform: rotate3d(-1, 1, 0, 30deg);
      transform: rotate3d(-1, 1, 0, 30deg);
    }
    50% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      -ms-transform: rotate3d(-1, 1, 0, 0deg);
      -o-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
    }
    75% {
      -webkit-transform: rotate3d(-1, 1, 0, -30deg);
      -ms-transform: rotate3d(-1, 1, 0, -30deg);
      -o-transform: rotate3d(-1, 1, 0, -30deg);
      transform: rotate3d(-1, 1, 0, -30deg);
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      -ms-transform: rotate3d(-1, 1, 0, 0deg);
      -o-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
    }
  }